@(title: String)(content: Html)(implicit flash: Flash, lang: Lang)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>
        <div class="page">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <a class="brand" href="@routes.Application.index()">@Messages("application.name")</a>
                    <ul class="nav">
                        <li><a href="@routes.Products.list()">Products</a></li>
                        <li><a href="@routes.PickLists.list">Picklists</a></li>
                    </ul>
                </div>
            </div>

            <div class="container">
                @if(flash.get("success").isDefined) {
                    <div class="alert alert-success">
                        @flash.get("success")
                    </div>
                }

                @if(flash.get("error").isDefined) {
                    <div class="alert alert-error">
                        @flash.get("error")
                    </div>
                }

                @content
                @debug()
            </div>
        </div>
    </body>
</html>
